/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-gray: #EEEEEE;
  --basic-light-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;

/* features */
  --dark-gray: #A6A6A6;

/* focus */
  --light-gray-focus: rgba(0,0,0, 0.3);

/* Order button */
  --dark-red: #E74246;
  --darkness-red: #D7373B;
  --dark-green: #00BC6C;
  --darkness-green: #00AA62;
  --dark-yellow: #EAB534;
  --darkness-yellow: #E5A722;

/* Catalog */
  --catalog-dark-gray: #4D4D4D;
  --catalog-light-gray: rgba(77, 77, 77, 0.12);
  --catalog-light-black: rgba(0, 0, 0, 0.3);
  --catalog-border-gray: #DBDBDB;

/* Soclial icons */
  --lightness-grey: #E1E1E1;
  --more-light-gray: rgba(255, 255, 255, 0.3);

/* footer-contacts */
  --more-darkness-gray: #666666;

/* Popup */
  --light-gray: #DFDFDF;
  --darkness-gray: #D5D5D5;
}

/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation */

.main-navigation {
font-size: 16px;
line-height: 30px;
text-transform: uppercase;
font-weight: 500;
color: var(--basic-black);
background-color: var(--basic-gray);
margin: 0;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: auto 1fr min-content;
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

/* User navigation */

.site-navigation a,
.bascket-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.bascket-navigation a:hover {
  color: var(--basic-light-red);
}

.site-navigation a:active,
.bascket-navigation a:active {
  color: var(--light-gray-focus);
}

/* Slogans page index*/

.slogans {
  background-color: var(--basic-gray);
  margin-top: -20px;
  padding: 0;
}

.slogans-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

.slider-one h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  padding: 0;
}

.slider-one p {
  margin-top: 25px;
  margin-bottom: 38px;
}

.slider-two h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  padding: 0;
}

.slider-two p {
  margin-top: 25px;
  margin-bottom: 38px;
}

.slider-three h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  padding: 0;
}

.slider-three p {
  margin-top: 25px;
  margin-bottom: 38px;
}

.slogans-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border-radius: 3px;
  padding: 17px 54px;
}

.slogans-button:hover {
  background-color: var(--dark-red);
}

.slogans-button:active {
  background-color: var(--darkness-red);
}

.slider {
  background-color: var(--basic-gray);
}

.slider-title {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-button {
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.button-navigation {
  text-align: center;
}

.slider-button-current {
  background-image: radial-gradient(at center, #ffffff 15%, #c1c1c1 15%, #c1c1c1 30%, #ffffff 30%);
}

/* page catalog title*/

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  background-color: var(--basic-gray);
}

/* Products */

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  width: 1157px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.products-item {
  text-align: left;
}

.products-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 25px;
  text-transform: uppercase;
}

.products-item p {
  padding: 0;
  margin-top: 16px;
  margin-bottom: 32px;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
  border-radius: 3px;
  padding: 17px 40px 15px 39px;
}

.button.button-web {
  background-color: var(--basic-light-red);
}

.button.button-app {
  background-color: var(--basic-green);
}

.button.button-presentation {
  background-color: var(--basic-yellow);
}

.button-web:hover {
  background-color: var(--dark-red);
}

.button-app:hover {
  background-color: var(--dark-green);
}

.button-presentation:hover {
  background-color: var(--dark-yellow);
}

.button-web:active {
  background-color: var(--darkness-red);
}

.button-app:active {
  background-color: var(--darkness-green);
}

.button-presentation:active {
  background-color: var(--darkness-yellow);
}

/* Description */

.break1 {
  border: none;
  width: 1158px;
  height: 2px;
  margin-top: 80px;
  margin-bottom: 39px;
  background-color: var(--basic-gray);
}

.title-invisible {
  visibility: hidden;
}

.description {
  display: grid;
  grid-template-columns: 1fr 360px;
  grid-template-rows: auto auto;
  gap: 40px;
  width: 1157px;
  margin: 0 auto;
  padding: 0;
}

.description-studio {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.description-work {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.description-logo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.description-history {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.description-studio p:first-of-type {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.description-work p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-history p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-order-list {
  list-style: none;
}

.description-history-list {
  display: grid;
  grid-template-columns: 98px 98px 98px;
  grid-template-rows: 64px 37px;
  column-gap: 22px;
  row-gap: 11px;
  margin: 0 auto;
  padding: 0;
}

.description-history-list-percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.description-history-list-percent::after {
  content: '%';
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: top;
}

.description-history-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

/* Partners */

.break2 {
  border: none;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-gray);
}

.partners-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1157px;
  margin: 0 auto;
  padding: 0;
}

.partners-item {
  opacity: 0.2;
}

.partners-item:hover {
  opacity: 1;
}

.partners-item:active {
  opacity: 0.1;
}

/* Catalog list */
.catalog-list {
  list-style: none;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.catalog-list a {
  color: var(--basic-black);
}

.catalog-list a:hover {
  color: var(--basic-light-red);
}

.catalog-list a:active {
  color: var(--light-gray-focus);
}

.button.catalog-button {
  background-color: var(--basic-light-red);
}

.button.catalog-button:hover {
background-color: var(--dark-red);
}

.button.catalog-button:active {
  background-color: var(--darkness-red)
}

.page-navigation {
  list-style: none;
}

.page-navigation a {
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.page-navigation a:hover {
  background-color: var(--light-gray);
}

.page-navigation a:active {
  color: var(--catalog-light-black);
  background-color: var(--darkness-gray);
}

.page-navigation-item-current a {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 3px solid var(--catalog-border-gray);
}

/* Footer */

.break3 {
  border: none;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-gray);
}

.footer-map {
  background-image: url("/img/map-1.jpg");
  width: 1440px;
  height: 416px;
}

.footer-contacts {
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  margin-top: 54px;
  margin-left: 140px;
}

.footer-contacts-title {
  margin-top: 49px;
  margin-left: 50px;
}

.footer-contacts p {
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.footer-address-container {
  margin-left: 50px;
  margin-top: 23px;
}

.footer-address {
  color: var(--more-darkness-gray);
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer-phone-container {
  margin-left: 50px;
  margin-top: 20px;
}

.footer-phone {
  color: var(--more-darkness-gray);
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 38px;
}

.footer-button-container {
  margin-left: 50px;
  margin-top: 38px;
}

.footer-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border-radius: 3px;
  padding: 17px 44px 15px;
}

.footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 68px;
}

.footer-social-list {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 9px;
}

.footer-social-item {
  background-color: var(--lightness-grey);
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.vk {
  padding-top: 33px;
}

.fb {
  padding-top: 31px;
}

.inst {
  padding-top: 30px;
}

.footer-social-item:hover {
  background-color: var(--dark-red);
}

.footer-social-item:active {
  background-color: var(--darkness-red);
}

.footer-social p:first-of-type {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-social p:last-of-type {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
